.background-image-admin-site{
    background: url("../images/banner_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Upload */
.uploadPicturesWrapper div {
    justify-content: flex-start !important;
}

.uploadPictureContainer {
    width: 200px !important;
    height: auto !important;
    margin: 2% 5% !important;
    padding: 10px !important;
}

.uploadPictureContainer img {
    height: 200px !important;
}
