<section class="vh-100" style="background: url('../images/banner_bg.jpg') no-repeat scroll center 0 /cover">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/images/login_banner.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form asp-controller="account" asp-action="login" method="post">
                                    <div class="d-flex align-items-center justify-content-center mb-5 pb-1">
                                        <img src ="~/images/Login_logo.png" />
                                    </div>
                                    
                                    <div class="form-outline mb-4">
                                        <input type="email" id="form2Example17" class="form-control form-control-lg" name="username" autocomplete="off" />
                                        <label class="form-label" for="form2Example17">Địa chỉ email</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" autocomplete="off" />
                                        <label class="form-label" for="form2Example27">Mật khẩu</label>
                                    </div>

                                    @if (TempData["Message"] != null)
                                    {
                                        <p class="text-center" style="color: red">@TempData["Message"]</p>
                                    }

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-info btn-lg btn-block" type="submit">Đăng nhập</button>
                                    </div>

                                    <p class="pb-lg-2 text-center">
                                        <a href="#" class="link-info">Quên mật khẩu?</a>
                                    </p>

                                    <p class="mb-5 pb-lg-2 text-center">
                                        Bạn chưa có tài khoản? <a asp-controller="account" asp-action="register" class="link-info">Đăng ký</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>